<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hackathon</title>
    <meta charset="UTF-8">
     
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    
        <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,900;1,400&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- jquery,javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/events.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <input type="checkbox" id="check">
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
  </label>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top  " style="z-index: 1;">
    <div class="container">
      <a class="navbar-brand" href="#">WITimes</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
                 <a style="color: white;">Welcome "<%=user.fullname%>" </a> 
          </li>
          
        </ul>
        
    </div>
  </nav>
 
 
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <header>Dashboard</header>
  <ul>
    <li><a href="/homepage"><i class="fas fa-qrcode"></i>Home</a></li>
    <li >
        <form method="POST" action="/logout">
            <button type="submit" class="btn1 btn1-primary"><a ><i class="fas fa-sign-out-alt"></i>Log Out</a>  </button>
        </form>
      </li>
      <header>Registration</header>
      <li><a href="/ISTE"><i class="fas fa-calendar-week"></i>ISTE</a></li>
    <li> <a href="/ssdc" class="active"><i class="fas fa-user-graduate"></i>ssdc</a></li>
    <li><a href="/witchar"><i class="fas fa-calendar-week"></i>witchar</a></li>
    <li><a href="/hackathon">  <i class="fas fa-user-tie"></i>hackathon</a></li>
    <li><a href="/witech"> <i class="fas fa-scroll"></i>Witech</a></li>
 
</ul>
</div>
<div class="hack"></div>
<br>
<div class="box" style="margin-left: 40%;">
  <form action="/hackathonevent" method="POST" >
      <button id="slide" class="btn"">Registration for event</button>
     </form>
     <a href="/hackathonregister" ><button class="btn hackathon" style="margin-top: -10%;margin-left:28%;">Upload Registartion Form</button></a>
    </div>
    <script>
      $( document ).ready(function() {
       if("<%=user.role %>"=='Hackathon Co-ordinator'){
        $(".hackathon").attr("style","display:;"); 
       }
       else{
        $(".hackathon").attr("disabled", "disabled");
       }
     });
    </script>
</body>
</html>